<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JspExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.sample.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewUserServlet</servlet-name>
    <servlet-class>com.sample.NewUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.sample.DeleteUser</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.sample.UpdateUser</servlet-class>
  </servlet>
  
  
  
  
  
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet-mapping>
    <servlet-name>NewUserServlet</servlet-name>
    <url-pattern>/newUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/run</url-pattern>
  </servlet-mapping>
</web-app>